version: '3'
project_name: my_wordpress_project

#networks:
#  network:

#volumes:
#  wordpress_data:
#  mariadb_data:

services:
  nginx:
    container_name: nginx
    build: ./requirements/nginx
    #depends_on:
    #  - adminer
    #  - redis
    #  - hugo
    ports:
      - 443:443
    volumes:
      - wordpress_data:/var/www/html
    restart: always
    networks:
      - network

  wordpress:
    container_name: wordpress
    #Create a depedency between the 2 container, db will be launched before
    depends_on:
      - mariadb
    build:
      context: ./requirements/wordpress
      dockerfile: Dockerfile
    restart: always
    env_file:
      - .env
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - network

  mariadb:
    container_name: mariadb
    build: ./requirements/mariadb
    #volumes allow to store in a persistent disk the content in a local disk
    #db_data is a volume created by docker directly
    volumes:
      - mariadb_data:/var/lib/mysql
    # in case of problem we restart automatically the container
    networks:
      - network
    restart: always
    env_file:
      - .env

#  mariadb:
#    container_name: mariadb
#    image: mariadb:latest  # Use the desired MariaDB image version
#    restart: always  # Ensure that the MariaDB container restarts if it crashes
#    
#    env_file:
#      - .env
#    volumes:
#      - mariadb_data:/var/lib/mysql
#    # in case of problem we restart automatically the container
#    networks:
#      - network

volumes:
  mariadb_data:
    driver: local
    driver_opts:
      type: none
      device: /home/osboxes/inception_volumes/mysql

      o: bind
  wordpress_data:
    driver: local
    driver_opts:
      type: none
      device: /home/osboxes/inception_volumes/wordpress
      o: bind

networks:
  network:
    driver: bridge
